/* Global */
@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

:root {
  --bg-primary: #0F1117;
  --bg-secondary: #151922;
  --bg-card: #1B202B;
  --text-primary: #F1F3F5;
  --text-secondary: #A7ADB8;
  --accent: #4f9eff;
  --border: #272D38;
}

body {
  background: var(--bg-primary);
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
}

main {
  width: 100%;
}

/* Navbar */
nav {
  width: 100%;
  position: fixed;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

nav header h2 {
  color: var(--accent);
  font-weight: 700;
  font-size: 1.5em;
}

nav div {
  display: flex;
  gap: 10px;
}

nav div a {
  font-weight: 600;
  font-size: 1.1em;
  /* font-style: italic; */
  transition: all 0.4s ease-out;

  &:hover {
    color: var(--accent);
  }
}

.menu-button {
  display: none;
}

.mobile-menu {
  display: none;
}

/* Hero */
.hero {
  width: 100%;
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.hero-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 80px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
}

.welcome {
  color: var(--accent);
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 18px;
}

.hero-text h1 {
  margin: 0;
  color: var(--text-primary);
  font-size: 4em;
  line-height: 1;
  font-weight: 700;
}

.hero-text h1 span {
  color: var(--accent);
}

.hero-text h2 {
  color: var(--text-primary);
  font-size: 1.5em;
  font-weight: 500;
}

.hero-text h2 span {
  color: var(--accent);
}

.hero-text p {
  max-width: 600px;
  color: var(--text-secondary);
  font-size: 1.1rem;
  line-height: 1.8;
}

.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-dec {
  width: 360px;
  height: 460px;
  position: relative;
}

.img-dec img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  border: 1px solid var(--border);
}

/* Seções */
.section {
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding: 3.5em;
  /* margin-top: 2em; */
  min-height: 90vh;
  /* background: var(--bg-secondary); */
  border-radius: var(--radius-4xl);
  /* border: 1px solid var(--border); */
}

.section-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
}

.section-header span {
  color: var(--text-secondary);
  font-size: 1.1rem;
  line-height: 1.8;
}

.section-header h2 {
  color: var(--text-primary);
  line-height: 1.8;
  font-size: 1.1rem;
}

.section-footer span {
  font-style: italic;
  color: var(--text-secondary);
  font-weight: 100;
  text-decoration: underline;
  text-align: justify;
}

/* Timeline */
.timeline {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.timeline-item {
  flex: 1;
}

.timeline-content {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.timeline-year {
  color: var(--text-primary);
  font-size: 1.1rem;
  line-height: 1.8;
}

.dot {
  width: 20px;
  height: 20px;
  padding: 10px;
  border-radius: 50%;
  background: var(--accent);
  flex-shrink: 0;
}

.timeline-content div {
  margin-top: .5em;
  border: 1px solid var(--border);
  border-top: 3px solid var(--accent);
  color: var(--text-secondary);
  font-size: 1.1rem;
  line-height: 1.6;
  padding: 20px;
  background: var(--bg-card);
  border-radius: 0px 0px var(--radius-2xl) var(--radius-2xl);
  text-align: justify;
}

/* Projetos */
.projects,
.skills,
.contatos {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex: 0 0 calc(50% - 5px);
  padding: 20px;
  gap: 20px;
  background: var(--bg-card);
  border: 1px solid var(--border);
  border-radius: var(--radius-2xl);
}

.project-image {
  width: 100%;
  height: 400px;
  position: relative;
}

.project-image img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: var(--radius-xl);
  border: 1px solid var(--border);
}

.cell {
  display: none;
}

.pc {
  display: block;
}

.project-content h3,
.skill-category h3 {
  text-align: center;
  color: var(--accent);
  line-height: 1.8;
  font-size: 1.1rem;
}

.project-content p {
  color: var(--text-secondary);
  font-size: 0.9rem;
  line-height: 1.4;
  text-align: justify;
  min-height: 40px;
}

.project-tech {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.project-tech span,
.skill-list span,
.contatos-list a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--text-primary);
  font-size: 1rem;
  font-weight: 700;
}

.icon {
  width: 1.7em;
}

/* Skills */
.skill-category {
  justify-content: unset;
  gap: 20px;
  min-width: 35%;
}

.skill-list {
  width: 100%;
}

/* Contatos */
.contact-section {
  background: var(--bg-secondary);
  border: 1px solid var(--border);
  height: auto;
  min-height: unset;
  justify-content: space-around;
}

.contatos-list,
.contatos-text {
  border: unset;
  background: unset;
  align-items: flex-start;
}

.contatos-list a {
  font-size: 1.3rem;
  font-weight: 500;
  transition: all 0.4s ease-out;

  &:hover {
    color: var(--accent);
  }
}

@media (max-width: 768px) {

  * {
    top: unset;
    left: unset;
  }

  body {
    padding: unset;
  }

  .nav-links {
    display: none;
  }

  .menu-button {
    display: flex;
    background: none;
    border: none;
    color: var(--text-primary);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .mobile-menu {
    position: absolute;
    top: 70px;
    right: 20px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px;
    background: var(--bg-card);
    border: 1px solid var(--border);
    border-radius: var(--radius-4xl);
  }

  .hero {
    padding: 6em 0px 6em 0px;
  }

  .hero-content {
    flex-direction: column;
  }

  .img-dec {
    width: 350px;
    height: 260px;
    position: relative;
  }

  .section {
    width: 100%;
  }

  .timeline {
    flex-direction: column;
  }

  .timeline-content div {
    border-radius: 0px var(--radius-2xl) var(--radius-2xl) 0px;
    border: 1px solid var(--border);
    border-left: 3px solid var(--accent);
  }

  .skills,
  .projects,
  .project-tech,
  .contatos {
    flex-direction: column;
  }

  .project-tech {
    align-items: start;
  }

  .project-image {
    height: 250px;
  }

  .cell {
    display: block;
  }

  .pc {
    display: none;
  }

  .contact-section {
    border-radius: var(--radius-4xl) var(--radius-4xl) 0px 0px;
  }

  .contatos-text h2 {
    font-size: 1.2em;
  }

  .contatos-list a {
    font-size: 1em;
  }
}